@import "../../../assets/styles/_colors.scss";
@import "../../../assets/styles/_animations.scss";
@import "../../../assets/styles/_variables.scss";

.about-container {
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: $primary-light;
  background-color: $shade-2;

  .introduction {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: $shade-1;
    color: $primary-light;
    padding: 1.5rem 1.5rem 8rem 1.5rem;
    @media #{$desktop-screen} {
      height: 600px;
      justify-content: center;
    }

    .title {
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      padding: 1.5rem;
      @media #{$desktop-screen} {
        max-width: 1200px;
        font-size: 2.5rem;
      }
    }
    .bio {
      text-align: center;
      @media #{$desktop-screen} {
        width: 60%;
        max-width: 1200px;
        font-size: 1.3rem;
      }
    }
  }

  .skills-container {
    width: 90%;
    display: flex;
    flex-flow: column wrap;
    position: relative;
    top: -6rem;
    border-radius: 12px;
    background-color: $primary-light;
    color: $primary-dark;
    @media #{$desktop-screen} {
      max-width: 1200px;
      flex-flow: row wrap;
      font-size: 1.3rem;
    }

    .skills-section {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      padding: 1.5rem;
      &:not(:last-child) {
        border-bottom: 1px solid #d3d3d3;
      }
      @media #{$desktop-screen} {
        width: 33%;
        height: 100%;
        &:not(:last-child) {
          border-bottom: none;
        }
      }
      .icon {
        height: 100px;
        padding: 1.5rem 0;
        img {
          width: 48px;
        }
      }
      .description {
        text-align: center;
        margin-bottom: 1.5rem;
        @media #{$desktop-screen} {
          height: 160px;
        }
      }
      .skill-title {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
      }
      .skills-lead {
        color: $shade-1;
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 0.6rem;
        @media #{$desktop-screen} {
          font-size: 1.3rem;
        }
      }
      .skills {
        text-align: center;
        margin-bottom: 1.5rem;
        ul {
          list-style: none;
        }
        @media #{$desktop-screen} {
          height: 260px;
        }
      }
    }
  }
}
