<div class="about-container">
  <div class="introduction">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi repellat
    labore fugiat nisi soluta in! Soluta, repellendus beatae molestias iusto
    quaerat nam cupiditate porro perspiciatis voluptates doloribus molestiae
    consectetur quod. Enim fugiat nesciunt voluptates exercitationem, autem
    saepe amet officia rerum nam ex expedita atque earum quam eos maiores quae
    sapiente eveniet. Est repudiandae quibusdam culpa impedit alias nam
    pariatur? Corrupti doloribus impedit, consectetur eligendi labore
    praesentium nostrum laudantium voluptatibus excepturi quod minima enim, aut
    voluptate, atque quisquam officia necessitatibus. Repudiandae expedita ullam
    aperiam beatae maiores quia, recusandae libero accusantium nihil? Error
    mollitia, ipsa necessitatibus unde quia qui in vero ab?
  </div>
</div>
