<div class="about-container">
  <div class="introduction">
    <div class="title">Hi, I'm Andrew. Nice to meet you.</div>
    <div class="bio">
      Since beginning my development career nearly 10 years ago I have enjoyed
      creating things that live on the internet. I’ve done work in both the
      public and private sectors, consulted for large enterprise corporations,
      and collaborated with talented people to create quality production
      applications. I’m a big Angular enthusiast who is constantly working to
      improve my skills.
    </div>
  </div>
  <div class="skills-container">
    <div class="skills-section">
      <div class="icon">
        <img src="../../../assets/images/front_end.svg" />
      </div>
      <div class="skill-title">Front-end Developer</div>
      <div class="description">
        I like to build responsive web sites using Angular and enjoy bringing
        ideas to life in the browser.
      </div>
      <div class="skills-lead">Front-end Skills:</div>
      <div class="skills">
        <ul>
          <li>HTML</li>
          <li>CSS & Sass</li>
          <li>Angular</li>
          <li>RXJS</li>
          <li>JavaScript (ES6 +)</li>
          <li>TypeScript</li>
          <li>Responsive Design</li>
        </ul>
      </div>
    </div>
    <div class="skills-section">
      <div class="icon">
        <img src="../../../assets/images/back_end.svg" />
      </div>
      <div class="skill-title">Back-end Developer</div>
      <div class="description">
        I strive to create efficient and readable APIs using solid coding
        standards and best practices.
      </div>
      <div class="skills-lead">Back-end Skills:</div>
      <div class="skills">
        <ul>
          <li>C#</li>
          <li>.NET</li>
          <li>REST API</li>
          <li>SQL</li>
          <li>Azure Cloud</li>
          <li>DevOps</li>
        </ul>
      </div>
    </div>
    <div class="skills-section">
      <div class="icon">
        <img src="../../../assets/images/nerd.svg" />
      </div>
      <div class="skill-title">Geek</div>
      <div class="description">
        I currently reside in Indiana with my dog Kelli. I'm a big geek who
        loves all things technology.
      </div>
      <div class="skills-lead">Hobbies:</div>
      <div class="skills">
        <ul>
          <li>Video games</li>
          <li>Reading</li>
          <li>Biking</li>
          <li>Keyboards</li>
          <li>Board games</li>
          <li>Music</li>
        </ul>
      </div>
    </div>
  </div>
</div>
