$colorful-1: #a44ea6;
$colorful-2: #3a15bf;
$colorful-3: #2b2240;
$colorful-4: #160a40;
$colorful-5: #0d0d0d;

$bright-1: #bd41bf;
$bright-2: #7e5ef2;
$bright-3: #3a15bf;
$bright-4: #2b2240;
$bright-5: #0d0d0d;

$primary-light: #ffffff;
$complimentary: #fff203;
