@use "../../../assets/styles/_colors.scss" as *;
@use "../../../assets/styles/_animations.scss" as *;

.home-container {
  height: 100vh;
  color: $primary-light;
  display: flex;
  flex-flow: column nowrap;

  .parallax-container {
    width: 100%;
    height: 65%;
  }

  .title {
    height: 40%;
    display: flex;
    flex-flow: column;
    margin-left: 30px;

    .divider {
      height: 2px;
      width: 44px;
      background-color: $bright-1;

      &.top {
        margin: 18px 0 12px 0;
        animation: 1s ease-in 0s 1 slideInFromLeft;
        // animation-delay: 0.5s;
      }

      &.bottom {
        margin: 0 0 18px 30px;
        animation: 1s ease-in 0s 1 slideInFromLeft;
      }
    }

    .title-name {
      text-transform: uppercase;
      font-size: 1.8rem;
      animation: 1s ease-out 0s 1 slideInFromLeft;
    }

    .title-lead {
      font-size: 0.8rem;
    }
  }
}
