@import "../assets/styles/_colors.scss";
@import "../assets/styles/_variables.scss";

.app-container {
  width: 100vw;
  height: 100vh;
  background: rgb(13, 13, 13);
  background: linear-gradient(
    0deg,
    rgba(13, 13, 13, 1) 0%,
    rgba(22, 10, 64, 1) 35%
  );
  position: fixed;

  // header {
  //   .name {
  //     color: $primary-light;
  //     font-size: 1.1rem;
  //   }
  // }

  .scroll-info {
    position: fixed;
    bottom: 46px;
    right: 20px;
    color: $primary-light;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    cursor: default;
    @media #{$desktop-screen} {
      right: auto;
      left: 20px;
    }
    &::after {
      content: "";
      width: 2px;
      height: 30px;
      background: $primary-light;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -46px;
      margin: auto;
    }
  }
}
