<div class="home-container">
  <div id="scene" data-relative-input="true">
    <img
      src="../../../assets/images/planet.svg"
      data-depth="0.5"
      class="planet"
    />
    <img
      src="../../../assets/images/purple_moon.svg"
      data-depth="0.4"
      class="moon"
    />
    <img
      src="../../../assets/images/star_big.svg"
      data-depth="0.3"
      class="big-star-1"
    />
    <img
      src="../../../assets/images/star_big.svg"
      data-depth="0.2"
      class="big-star-2"
    />
    <img
      src="../../../assets/images/star_big.svg"
      data-depth="0.1"
      class="big-star-3"
    />
    <img
      src="../../../assets/images/star_small.svg"
      data-depth="0.6"
      class="small-star-1"
    />
    <img
      src="../../../assets/images/star_small.svg"
      data-depth="0.6"
      class="small-star-2"
    />
    <img
      src="../../../assets/images/star_small.svg"
      data-depth="0.7"
      class="small-star-3"
    />
    <img
      src="../../../assets/images/star_extra_small.svg"
      data-depth="0.9"
      class="extra-small-star-1"
    />
    <img
      src="../../../assets/images/star_extra_small.svg"
      data-depth="0.8"
      class="extra-small-star-2"
    />
    <img
      src="../../../assets/images/star_extra_small.svg"
      data-depth="0.9"
      class="extra-small-star-3"
    />
    <img
      src="../../../assets/images/star_extra_small.svg"
      data-depth="0.9"
      class="extra-small-star-4"
    />
    <!-- <img src="img/bg4.svg" data-depth='0.3' width="80%" class="img-4" />
    <div class="ground" data-depth='0.2'></div>
    <img src="img/man.png" data-depth='0.1' width="100%" class="img-5" /> -->
  </div>
  <div class="image-text">PORTFOLIO</div>
  <div class="title">
    <div class="title-name">
      Andrew <br />
      Smith
    </div>
    <span class="divider top"></span>
    <span class="divider bottom"></span>
    <div class="title-lead">
      web developer / <br />
      angular enthusiast
    </div>
  </div>
</div>
