@import "./assets/styles/_variables.scss";
@import "./assets/styles/_colors.scss";
// css resets
html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
  @media #{$tablet-screen} {
    font-size: 18px;
  }
  @media #{$desktop-screen} {
    font-size: 20px;
  }
}
html,
body {
  height: 100%;
  width: 100%;
  // font-family: "Dosis", sans-serif;
}
body {
  // font-family: "Dosis", "Montserrat", sans-serif;
  -ms-overflow-style: none !important; /* IE and Edge */
}
::-webkit-scrollbar {
  display: none; /* chrome */
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  // font-family: "Dosis", "Montserrat", sans-serif;
  font-family: "Poppins", "Helvetica Neue", "Helvetica", sans-serif;
}
a {
  color: $primary-light;
  text-decoration: none;
  letter-spacing: 0.2rem;
  &:visited {
    color: $primary-light;
  }
}
ul {
  list-style: none;
}
