<div id="scene" data-relative-input="true">
  <div data-depth="0.2" class="image-text">PORTFOLIO</div>
  <img
    src="../../../assets/images/concentric_v3.svg"
    data-depth="0.1"
    class="ring"
  />
  <img
    src="../../../assets/images/planet_grey.svg"
    data-depth="0.1"
    class="planet"
  />
  <img
    src="../../../assets/images/grey_moon.svg"
    data-depth="0.2"
    class="moon"
  />
  <img
    src="../../../assets/images/star_big.svg"
    data-depth="0.3"
    class="big-star-1"
  />
  <img
    src="../../../assets/images/star_big.svg"
    data-depth="0.3"
    class="big-star-2"
  />
  <img
    src="../../../assets/images/star_big.svg"
    data-depth="0.3"
    class="big-star-3"
  />
  <img
    src="../../../assets/images/star_small.svg"
    data-depth="0.6"
    class="small-star-1"
  />
  <img
    src="../../../assets/images/star_small.svg"
    data-depth="0.6"
    class="small-star-2"
  />
  <img
    src="../../../assets/images/star_small.svg"
    data-depth="0.7"
    class="small-star-3"
  />
  <img
    src="../../../assets/images/star_extra_small.svg"
    data-depth="0.9"
    class="extra-small-star-1"
  />
  <img
    src="../../../assets/images/star_extra_small.svg"
    data-depth="0.8"
    class="extra-small-star-2"
  />
  <img
    src="../../../assets/images/star_extra_small.svg"
    data-depth="0.9"
    class="extra-small-star-3"
  />
  <img
    src="../../../assets/images/star_extra_small.svg"
    data-depth="0.9"
    class="extra-small-star-4"
  />
</div>
