<div id="scene" data-relative-input="true">
  <img
    src="../../../assets/images/concentric_v3.svg"
    data-depth="0.1"
    class="ring"
  />
  <img
    src="../../../assets/images/planet_grey.svg"
    data-depth="0.1"
    class="planet"
  />
  <img
    src="../../../assets/images/grey_moon.svg"
    data-depth="0.2"
    class="moon"
  />
  <img
    src="../../../assets/images/star_big.svg"
    data-depth="0.3"
    class="big-star-1"
  />
  <img
    src="../../../assets/images/star_big.svg"
    data-depth="0.3"
    class="big-star-2"
  />
  <img
    src="../../../assets/images/star_big.svg"
    data-depth="0.3"
    class="big-star-3"
  />
  <img
    src="../../../assets/images/star_big.svg"
    data-depth="0.3"
    class="big-star-4"
  />
  <img
    src="../../../assets/images/star_big.svg"
    data-depth="0.3"
    class="big-star-5"
  />
  <img
    src="../../../assets/images/star_small.svg"
    data-depth="0.6"
    class="small-star-1"
  />
  <img
    src="../../../assets/images/star_small.svg"
    data-depth="0.6"
    class="small-star-2"
  />
  <img
    src="../../../assets/images/star_small.svg"
    data-depth="0.7"
    class="small-star-3"
  />
  <img
    src="../../../assets/images/star_small.svg"
    data-depth="0.7"
    class="small-star-4"
  />
  <img
    src="../../../assets/images/star_small.svg"
    data-depth="0.7"
    class="small-star-5"
  />
  <img
    src="../../../assets/images/star_small.svg"
    data-depth="0.7"
    class="small-star-6"
  />
  <img
    src="../../../assets/images/star_small.svg"
    data-depth="0.7"
    class="small-star-7"
  />
  <img
    src="../../../assets/images/star_extra_small.svg"
    data-depth="0.9"
    class="extra-small-star-1"
  />
  <img
    src="../../../assets/images/star_extra_small.svg"
    data-depth="0.8"
    class="extra-small-star-2"
  />
  <img
    src="../../../assets/images/star_extra_small.svg"
    data-depth="0.9"
    class="extra-small-star-3"
  />
  <img
    src="../../../assets/images/star_extra_small.svg"
    data-depth="0.9"
    class="extra-small-star-4"
  />
  <img
    src="../../../assets/images/star_extra_small.svg"
    data-depth="0.9"
    class="extra-small-star-5"
  />
  <img
    src="../../../assets/images/star_extra_small.svg"
    data-depth="0.9"
    class="extra-small-star-6"
  />
  <img
    src="../../../assets/images/star_extra_small.svg"
    data-depth="0.9"
    class="extra-small-star-7"
  />
  <img
    src="../../../assets/images/star_extra_small.svg"
    data-depth="0.9"
    class="extra-small-star-8"
  />
  <img
    src="../../../assets/images/star_extra_small.svg"
    data-depth="0.9"
    class="extra-small-star-9"
  />
  <img
    src="../../../assets/images/star_extra_small.svg"
    data-depth="0.9"
    class="extra-small-star-10"
  />
  <img
    src="../../../assets/images/star_extra_small.svg"
    data-depth="0.9"
    class="extra-small-star-11"
  />
  <img
    src="../../../assets/images/star_extra_small.svg"
    data-depth="0.9"
    class="extra-small-star-12"
  />
  <img
    src="../../../assets/images/star_extra_small.svg"
    data-depth="0.9"
    class="extra-small-star-13"
  />
  <img
    src="../../../assets/images/star_extra_small.svg"
    data-depth="0.9"
    class="extra-small-star-14"
  />
  <img
    src="../../../assets/images/star_extra_small.svg"
    data-depth="0.9"
    class="extra-small-star-15"
  />
  <img
    src="../../../assets/images/star_extra_small.svg"
    data-depth="0.9"
    class="extra-small-star-16"
  />
  <img
    src="../../../assets/images/star_extra_small.svg"
    data-depth="0.9"
    class="extra-small-star-17"
  />
</div>
