@import "../../../assets/styles/_colors.scss";
@import "../../../assets/styles/_animations.scss";
@import "../../../assets/styles/_variables.scss";

#scene {
  width: 100%;
  height: 100%;
  position: relative;
  animation: slide-in-right 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  @media #{$desktop-screen} {
    top: 30%;
    left: 16%;
  }
  .ring {
    width: 100%;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    margin: auto;

    @media #{$desktop-screen} {
      width: 90%;
    }
  }
  .planet {
    width: calc(100vw / 2);
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    margin: auto;
    @media #{$desktop-screen} {
      width: calc(100vw / 3);
    }
  }
  .moon {
    width: 25%;
    max-width: 164px;
    position: absolute !important;
    right: 12% !important;
    top: 24% !important;
    bottom: auto !important;
    left: auto !important;
    @media #{$desktop-screen} {
      right: 21% !important;
      top: 13% !important;
    }
  }
  .big-star-1 {
    position: absolute !important;
    right: 3% !important;
    top: 6% !important;
    bottom: auto !important;
    left: auto !important;
  }
  .big-star-2 {
    position: absolute !important;
    left: 28% !important;
    bottom: 6% !important;
    top: auto !important;
    right: auto !important;
  }
  .big-star-3 {
    position: absolute !important;
    left: 10% !important;
    top: 15% !important;
    bottom: auto !important;
    right: auto !important;
  }
  .small-star-1 {
    position: absolute !important;
    right: 7% !important;
    top: 60% !important;
    bottom: auto !important;
    left: auto !important;
  }
  .small-star-2 {
    position: absolute !important;
    left: 8% !important;
    bottom: 25% !important;
    top: auto !important;
    right: auto !important;
  }
  .small-star-3 {
    position: absolute !important;
    left: 31% !important;
    top: 4% !important;
  }
  .extra-small-star-1 {
    position: absolute !important;
    right: 9% !important;
    bottom: 7% !important;
    top: auto !important;
    left: auto !important;
  }
  .extra-small-star-2 {
    position: absolute !important;
    left: 21% !important;
    bottom: 62% !important;
    top: auto !important;
    right: auto !important;
  }
  .extra-small-star-3 {
    position: absolute !important;
    left: 56% !important;
    top: 12% !important;
    bottom: auto !important;
    right: auto !important;
  }
  .extra-small-star-4 {
    position: absolute !important;
    left: 47% !important;
    top: 84% !important;
    bottom: auto !important;
    right: auto !important;
  }
  .image-text {
    color: $bright-1;
    font-size: 1.8rem;
    font-weight: bold;
    position: absolute !important;
    left: 5% !important;
    top: 47% !important;
    bottom: auto !important;
    right: auto !important;
    z-index: 2;
  }
}
